body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #c7c1b2;
    color: #333333;
    border-bottom: 6px solid #5c4b2a;
    border-radius: 10px;
    
}

.border-blue {
    border: 1px dotted blue;
}

